<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-stocks-heading" jhiTranslate="firstmonolithApp.stocks.home.createOrEditLabel">Create or edit a Stocks</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstmonolithApp.stocks.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstmonolithApp.stocks.open" for="field_open">Open</label>
                    <input type="number" class="form-control" name="open" id="field_open"
                           formControlName="open"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstmonolithApp.stocks.high" for="field_high">High</label>
                    <input type="number" class="form-control" name="high" id="field_high"
                           formControlName="high"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstmonolithApp.stocks.close" for="field_close">Close</label>
                    <input type="number" class="form-control" name="close" id="field_close"
                           formControlName="close"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstmonolithApp.stocks.low" for="field_low">Low</label>
                    <input type="number" class="form-control" name="low" id="field_low"
                           formControlName="low"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="firstmonolithApp.stocks.volume" for="field_volume">Volume</label>
                    <input type="number" class="form-control" name="volume" id="field_volume"
                           formControlName="volume"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
